@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

body {

    background-color: bisque;
    color: red ;
    font-family: New Rocker, cursive;
}

.nav-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-top: 40px;
    text-decoration: none;
    border-radius: 5px;
}



.giveaway-card {
    background: #000;
    color: white;
    padding: 40px;
    border-radius: 20px;
    border: 3px solid #ff0055; 
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 0, 85, 0.3);
}


.urgent-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.alert {
    font-weight: bold;
    color: #ff0055;
    font-size: 1.5rem;
    animation: blink 1s infinite; 
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}


ol {
    text-align: left;
    display: inline-block;
    line-height: 1.8;


}


#socials-button {
    background-color: #ff0055; 
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: blink 1s infinite; 
}

#socials-button:hover {
    background-color: #ff2b70; 
    
    
    transform: scale(1.1); 
    
    
    box-shadow: 0 0 20px rgba(255, 0, 85, 0.6);
    
    
    transition: all 0.2s ease-in-out;
}


#socials-button:active {
    transform: scale(0.95);
}

.book-cover{
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 0, 85, 0.5);
    margin-top: 20px;
    margin-bottom: 80px;
}

#aboutus{

    
    margin-left: 20px;
    margin-right: 20px;
    
}

#contact-us{
    margin-left: 20px;
}
