{% extends 'base.html' %}

{% block title %}My Dashboard{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
{% endblock %}

{% block content %}
<body>

    <header>
        <div>
        <p class="eyebrow">Welcome back, {{ session['username'] }} 👋</p>
        <h1>Your <em>habits</em></h1>
        <p class="dashboard-subtitle">
         Keep showing up. Small actions become remarkable results.
        </p>
        </div>
        <div style="display:flex; gap:12px;">
            <a href="{{ url_for('auth.habits') }}" class="logout">My Habits</a>
            
        </div>
        
    </header>

    <div class="quote-bar">
        <div class="quote-line"></div>
        <div>
            <p class="quote-text">"Every action you take is a vote for the type of person you wish to become."</p>
            <p class="quote-author">— James Clear</p>
        </div>
    </div>

    <div class="stats-grid">
        <div class="stat-card">
            <h3>{{ total_habits }}</h3>
            <p>Total Habits</p>
        </div>
    
        <div class="stat-card">
            <h3>{{ total_streak }}</h3>
            <p>Total Streak Days</p>
        </div>
    
        <div class="stat-card">
            <h3>{{ longest_streak }}</h3>
            <p>Longest Streak</p>
        </div>
    </div>

    <p class="section-title">This Week's Habits</p>

    <div class="habits-grid">
        {% for habit in habits %}
        <div class="habit-card">
            <div class="habit-icon">{{ habit.icon }}</div>
    
            <p class="habit-name">{{ habit.name }}</p>
    
            <div class="streak-row">
                {% for i in range(7) %}
                    {% if i < habit.streak %}
                        <div class="streak-dot done"></div>
                    {% elif i == habit.streak %}
                        <div class="streak-dot today"></div>
                    {% else %}
                        <div class="streak-dot"></div>
                    {% endif %}
                {% endfor %}
            </div>
    
            <p class="streak-count">{{ habit.streak }} day streak 🔥</p>
        </div>
        {% endfor %}
    
        {% if not habits %}
        <p>No habits yet. Create your first habit! 🌱</p>
        {% endif %}
    </div>




    {% endblock %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/user_dashboard.js') }}"></script>
    {% endblock %}